body{
    margin: 0px;
  
 }
 .emp{
     margin-left: 50px;
     text-decoration: underline;
    
 }
 .oi{
     display: flex;
     flex-direction: row;
     margin-top: 50px;
 }
 .imagem{
     margin-top: 30px;
     width: 245px;
     margin-left: 50px;
     height: 231px;
 }
 .missao{
     margin-left: 90px;
     font-size: 50px;
     margin-top: 45px;
     display: flex;
     flex-direction: row;
 }
 .texto{
    font-size: 30px;
    margin-top: 60px;
    margin-right: 80px;
 }
 .visao{
     font-size: 50px;
     margin-left: 30px;
     display: flex;
     flex-direction: row;
 }
 .texto2{
     margin-left: 30px;
     margin-top: 10px;
    margin-right: 300px;
     font-size: 30px;
    
 }
 .valores{
 
     font-size: 50px;
     margin-top: 30px;
     display: flex;
     flex-direction: row;
     margin-left: 40px;
  
 }
 .texto3{
     font-size: 30px;
     margin-left: 30px;
     margin-right: 230px;
 }
 .video{
     margin-left: 800px;
     margin-top: px;
     width: 461px;
     height: 352px;
 }
 
 
 body{
     margin: 0;
     font-family: Arial;
 }
 .cabecalho{
     background-color: black;
     width: 100%;
     height: 147px;
     align-items: center;
     display: flex;
 }
 .logo{
     width: 5%;
     margin: 2px 40px; 
 }
 .menu{
     position: absolute;
     margin-left: 300px;
 }
 .menu a{
     text-decoration: none;
     color: aliceblue;
     border: 2px solid blueviolet;
     padding: 8px;
     border-radius: 10px;
     margin-right: 3px;
 }
 .menu a:hover{
     color: blueviolet;
     border: 2px solid aliceblue;
     transition: 10ms;
 }
 .menu .atual{
     color: blueviolet;
     border: 2px solid aliceblue;
 }
 .rodape{
     width: 100%;
     height: 250px;
     background-color: black;
     color: aliceblue;
 }
 .rodape ul{
     display: flex;
     flex-direction: row;
 }
 .parte1{
     position: absolute;
     left: 3%;
 }
 .parte2{
     position: absolute;
     left: 36%;
 }
 .parte3{
     position: absolute;
     left: 69%;
 }
 .rodape h3{
     font-size: 23px;
     
 }
 .rodape i{
     margin-right: 10px;
     color: aliceblue;
 }
 .rodape input{
     width: 279px;
     height: 22px;
     padding: 3px;
     margin-top: 5px;
     border-radius: 5px;
 }
 #coment{
     margin-top: 10px;
     font-family: Arial;
     padding: 3px;
 }