body{
   margin: 0px;
   
 
}
.emp{
    margin-left: 50px;
    text-decoration: underline;
    text-shadow: 5px 5px 15px rgb(84, 79, 88);
   
}
.container{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.imagem{
    margin-top: 30px;
    width: 245px;
    margin-left: 50px;
    height: 231px;
    box-shadow: 5px 5px 15px rgb(4, 4, 4);
    border-radius: 10px;
}
#missao{
    margin-left: 150px;
    font-size: 40px;
    margin-top: 45px;
    display: flex;
    flex-direction: row;
    text-align: center;
   
}
.texto{
   font-size: 30px;
   margin-top: 14px;
   margin-right: 20px;
   font-style: italic;
   text-align: center;
   text-align: justify;
    
   
}
.visao{
    font-size: 40px;
    margin-top: 100px;
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    
}
.texto2{
    margin-left: 30px;
    margin-top: 10px;
   margin-right: 300px;
    font-size: 30px;
    width: 800px;
   font-style: italic;
   text-align: justify;
}
.valores{

    font-size: 40px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    margin-left: 40px;
 
}
.texto3{
    font-size: 30px;
    margin-left: 30px;
    margin-right: 230px;
    width: 800px;
    font-style: italic;
}
.video{
    margin-left: 900px;
    margin-top: px;
    width: 500px;
    height: 400px;
   
}
